body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.made-with-mk {
  width: 50px;
  height: 50px;
  display: block;
  position: fixed;
  z-index: 555;
  bottom: 40px;
  right: 40px;
  border-radius: 30px;
  background-color: rgba(16, 16, 16, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 12px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}
.made-with-mk:hover,
.made-with-mk:active,
.made-with-mk:focus {
  width: 220px;
  color: #ffffff;
  transition-duration: 0.55s;
  padding: 10px 30px;
}
.made-with-mk:hover .made-with,
.made-with-mk:active .made-with,
.made-with-mk:focus .made-with {
  opacity: 1;
}
.made-with-mk:hover .brand,
.made-with-mk:active .brand,
.made-with-mk:focus .brand {
  left: 0;
}
.made-with-mk .brand,
.made-with-mk .made-with {
  float: left;
}
.made-with-mk .brand {
  position: relative;
  top: 3px;
  left: -1px;
  letter-spacing: 1px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 600;
}
.made-with-mk .made-with {
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  left: 75px;
  top: 15px;
  opacity: 0;
  margin: 0;
  -webkit-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  -moz-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  -o-transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
  transition: 0.55s cubic-bezier(0.6, 0, 0.4, 1);
}
.made-with-mk .made-with strong {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 1px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
.btn-simple {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*           Typography          */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  font-weight: 400;
  margin: 30px 0 15px;
}

h1,
.h1 {
  font-size: 52px;
}

h2,
.h2 {
  font-size: 36px;
}

h3,
.h3 {
  font-size: 28px;
  margin: 20px 0 10px;
}

h4,
.h4 {
  font-size: 22px;
}

h5,
.h5 {
  font-size: 16px;
}

h6,
.h6 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.618em;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #999999;
  font-weight: 300;
  line-height: 1;
}

h1 small,
h2 small,
h3 small,
h1 .small,
h2 .small,
h3 .small {
  font-size: 60%;
}

.image-container {
  min-height: 100vh;
  background-position: center center;
  background-size: cover;
}

.card-random {
  width: 50%;
  margin: auto;
}

.logo-container {
  left: 50px;
  position: absolute;
  top: 20px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container .logo {
  overflow: hidden;
  padding: 5px;
  width: 200px;
}

.wizard-container {
  padding-top: 100px;
  z-index: 3;
}

.wizard-card {
  min-height: 410px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15), 0 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px !important;
  padding: 10px 0;
}

.w-full {
  width: 100%;
}

button.active {
  background-color: darkorange !important;
  opacity: 1 !important;
  transition: all 1s ease;
}

/* button.active ~ .button1{
  position: absolute;
  left: -200px;
} */

li {
  padding: 0 !important;
}

.mr {
  margin: 0 !important;
}

#content-heading {
  font-weight: 200;
  text-align: center;
  max-width: 500px;
  margin: 10px auto;
}

button {
  transition: all 1s ease;
}

.info-text {
  text-align: center;
  color: rgb(51, 51, 51);
  font-size: 22px;
  line-height: 20px;
  font-weight: 300;
  padding: 20px 0;
  margin: 0;
}

.row-div {
  width: 100%;
  margin: 0 !important;
  padding-bottom: 20px;
}

.min-h{
  min-height: 320px;
}

.coloffset {
  margin-left: 8.33%;
}

.form-group {
  margin-bottom: 5px;
}

label {
  font-weight: 400;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
}

.buttn{
  text-transform: uppercase;
  background-color: darkorange !important;
  padding: 5px 10px;
  min-width: 140px;
  margin-right: 10px;
  color: white !important;
}

[type=submit]:disabled{
  cursor: not-allowed !important;
}

.error{
  height: 10px !important;
  font-size: 12px !important;
  text-align: right;
}